body{
    color:#293241;
}
#hero-brand{
    font-size: 4em;
    color: #EA526F;
}
.btn{
    border-radius: 50px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size:medium;
    letter-spacing: 1px;
}
.btn-carrito{
    color: #EA526F;
    border-color: #EA526F;
}
.btn-carrito:hover{
    color: #fff;
    background-color: #EA526F;
}
.btn-productos{
    color: #fff;
    background-color: #293241;
}

.btn-productos:hover{
    color: #293241;
    border-color: #293241;
    background-color: transparent;
}