
#hero-brand{
    font-size: 4em;
    color: #EA526F;
}
a{
    text-decoration: none;
    color: #EA526F;
}
.btn{
    border-radius: 50px;
    padding: 10px 13px;
    text-transform: uppercase;
    font-size:medium;
    letter-spacing: 1px;
}
.btn-carrito{
    color: #EA526F;
    border-color: #EA526F;
}
.btn-carrito:hover{
    color: #fff;
    background-color: #EA526F;
}
.btn-carrito:active {
    border-color: #fff;
    background-color: transparent;
    box-shadow: 0 0 0 2px white, 0 0 0 4px #293241;
    color: #293241;
}
.btn-productos{
    color: #fff;
    background-color: #293241;
}

.btn-productos:hover{
    color: #293241;
    border-color: #293241;
    background-color: transparent;
}

.btn-productos:active {
    border-color: #EA526F;
    background-color: #EA526F;
    box-shadow: 0 0 0 2px white, 0 0 0 4px #EA526F;
    color: #fff;
}

textarea, select, input, button { 
    outline: none;
}
.btn-productos:focus { 
    outline-color: transparent; 
    outline-style: none;
}

.itemcount{
    display: flex !important;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}
.btncount{
    border-radius: 50%;
    font-size: smaller;
    padding: 5px 10px;
}
.countrow{
    position: absolute;
    bottom: 0;
}

.products{
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card{
    border:none !important;
}
.card-body{
    padding-top: 0;
}
.card span{
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
}
.product{
    width: 300px;
    margin-bottom: 75px;
}
.product img{
    border-radius: 50%;
}
.productDetail{
    text-align: left;
}
.productDetail img{
    border-radius: 5% !important;
}
.productDetailStock{
    line-height: 0;
}
.productList{
    padding-left: 0;
}
.productList li{
    list-style: none;
    padding-left: 1rem;
    text-transform: uppercase;
    font-size: small;
    padding-bottom: 0.5rem;
}
.margin{
    margin:0 auto;
}
.padding-side{
    padding: 0 20px;
}

@media (min-width:768px){
    .container, .container-md, .container-sm{
        max-width: 100%;
    }
}
@media (min-width:992px){
    .container, .container-md, .container-sm{
        max-width: 960px;
    }
}
@media (min-width:1200px){
    .container, .container-md, .container-sm{
        max-width: 1200px;
    }
}
@media (min-width:1400px){
    .container, .container-md, .container-sm{
        max-width: 95%;
    }
    .nav-item p{
        margin-bottom: 0;
    }
}